MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=changeme
REDIS_HOST=localhost
RABBITMQ_HOST=localhost
RABBITMQ_USER=admin
RABBITMQ_PASS=changeme
JWT_SECRET=changeme
UPLOAD_DIR=./uploads
STEAM_API_KEY=
TMDB_API_KEY=
