.my-nav
{
  position: absolute;
  z-index: 100;
  width: 100%;
  border-bottom: none;
  box-shadow: none;
}

.navbar {
  border-bottom: none !important;
}


.carousel-item
 {
  height: 100vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
	text-decoration: none;
	color: white;
}

img
{
  max-width: 100%;
  height: auto;
}

body
{
  background-color:white;
}

/* 
.my-nav 类选择器用于设置导航栏的样式，具体包括绝对定位、层级为100、宽度为100%。这将使导航栏横跨整个窗口。

.carousel-item 类选择器用于设置轮播项（幻灯片）的样式，其中包括高度为视口高度（100vh）、背景图像属性、背景大小自适应等。这将使轮播项铺满整个视口，并显示合适的背景图像。

a 选择器用于设置链接的样式，包括去除下划线、颜色为白色。这将使链接以白色显示，并去除下划线。

img 选择器用于设置图像的样式，包括最大宽度为100%、高度自适应。这将确保图像在其容器内适当缩放，宽度不超过容器的100%。

body 选择器用于设置文档的背景颜色为白色。
 */